/* 栅格系统 */

/* 文字系统 */
.tac{text-align: center}
.tar{text-align: right}
.tal{text-align: left;}
.small{font-size: 0.1rem}
.ellipsis{
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

/* 行 */
.row{
    display: flex;
    width: 100%;
    max-width: 100%;
    /* line-height: 0.8rem;
    height: 0.8rem; */
}
.row-wrap{
    white-space: nowrap;
}
/* 列 */
.col{
    flex:1;
    display: inline-block;
}
.col-10{
    flex: 10% 0 0 ;
    max-width: 10%;
}
.col-20{
    flex: 20% 0 0 ;
    max-width: 20%;
}
.col-30{
    flex: 30% 0 0 ;
    max-width: 30%;
}
.col-40{
    flex: 40% 0 0 ;
    max-width: 40%;
}
.col-50{
    flex: 50% 0 0 ;
    max-width: 50%;
}
.col-60{
    flex: 60% 0 0 ;
    max-width: 60%;
}
.col-70{
    flex: 70% 0 0 ;
    max-width: 80%;
}
.col-80{
    flex: 80% 0 0 ;
    max-width: 80%;
}
.col-90{
    flex: 90% 0 0 ;
    max-width: 90%;
}
.col-25{
    flex: 25% 0 0 ;
    max-width: 25%;
}
.col-33{
    flex: 33.33% 0 0 ;
    max-width: 33.33%;
}
.col-67{
    flex: 66.67% 0 0 ;
    max-width: 66.67%;
}
/* 定位系统 */
.full{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
/* 全屏     */
}

.tabs{
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0; 
    height: 0.49rem;
    line-height: 0.49rem;  
    /* 底部栏 */
}
.has-tabs{
    bottom: 0.49rem;
    /* 有底布栏的内容区域 */
}
.bar-header{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    height: 0.44rem; 
    line-height: 0.44rem;
    /* 顶部栏    */
}
.sub-header{
    position: absolute;
    left: 0;
    right: 0;
    top: 0.44rem;
    height: 0.44rem; 
    line-height: 0.44rem; 
    /* 次顶部栏   */
}
.has-subHeader{
    top: 0.88rem;
    /* 次顶部栏的内容区域 */

}
.has-header{
    top: 0.44rem;
    /* 顶部栏的内容区域 */
}


/* 控件系统 */
input[type=text]{
    width: 100%;
    line-height: 0.28rem;
    padding: 0 0.15rem;
}
.pa{
    padding: 0 0.15rem;
}


/* 边框系统 */
.bo{
    border:1px solid #f2f2f2;
}


.scollH{
    overflow-x: auto;
}
.scollV{
    overflow-y: auto;
}
.no-wrap{
    white-space: nowrap;
    /* word-break:  */
}